.cards__container {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;

  .cards__section {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $colormostaza;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px $colormarron;

    .cards__tittle {
      color: $colormarron;
      font-family: $letra;
      font-weight: 600;
      font-size: $letra-grande;
    }

    .cards__img {
      width: 100%;
      height: 60%;
      border-radius: 5px;
      object-fit: cover;
    }
  }
}

div {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .btn-comprar {
    border: none;
    margin: 5px;
    background-color: $colormarron;
    width: 100%;
    height: 50px;
    border-radius: 9px;
    color: #ffffff;
    font-family: $letra;
    font-weight: 500;
    font-size: $letra-media;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &::after {
      content: "Comprar";
      position: absolute;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $coloroscuro;
      font-family: $letra;
      font-size: $letra-normal;
      font-weight: 700;

      left:0;
      top: -100px;
      width: 100%;
      height: 100%;
      transition: top .3s ease-in-out;
    }
    &:hover::after {
      top: 0;
    }
  }

  .btn {
    background-color: $colorrojo;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "Añadir al carro";
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #16e670;
      color: $colorclaro;
      font-family: $letra;
      font-weight: 700;
      font-size: $letra-normal;
      width: 100%;
      height: 100%;
      left: -500px;
      bottom: 0;
      transition: left 0.3s ease-in-out;
    }

    &:hover::after {
      left: 0;
    }

    i {
      color: #ffffff;
      font-size: 20px;
      z-index: 0;
    }
  }
}
