.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width: 100%;
    background-color: $colorrojo;

    .listas__footer{
        width: 100%;
        height: 100%;
        padding: 10px 0px;

        .footer__list{
            padding: 10px 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
            .list__li{
                display: block;
                padding: 5px 0px;

                a{
                    color: $colorclaro;
                    text-decoration: none;
                    font-family: $letra;
                    font-weight: 300;
                }
            }
        }
    }
}