@import "global";

@import "nav";

.main{
    width: 100%;

    .main__welcome{
        display: flex;
        width: 100%;
        height: 100vh;
        .img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}